# Problem statement:
Given the multivariate; x1-x4 respectively.land_size,age of home,number of floors,number of bedrooms and house_price of a geographical location, train the model to predict the selling price of a new house

In [113]:
import pandas as pd

In [168]:
home = pd.read_csv('desktop/datasets/Home.csv',encoding = "utf-8")
home

   Unnamed: 0  Size  Bedrooms  Age  Prices
0           0  2600         3   20  550000
1           1  3000         4   15  565000
2           2  3200         3   18  610000
3           3  3600         3   30  595000
4           4  4000         5    8  760000

In [169]:
home.loc[:, ['Size', 'Bedrooms', 'Age', 'Prices']]

   Size  Bedrooms  Age  Prices
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         3   18  610000
3  3600         3   30  595000
4  4000         5    8  760000

In [170]:
from sklearn.model_selection import train_test_split

In [171]:
X = home [['Size', 'Bedrooms', 'Age']]
Y = home ['Prices']
X

   Size  Bedrooms  Age
0  2600         3   20
1  3000         4   15
2  3200         3   18
3  3600         3   30
4  4000         5    8

In [172]:
Y

0    550000
1    565000
2    610000
3    595000
4    760000
Name: Prices, dtype: int64

In [173]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.3)
print(Y_train.shape, Y_test.shape)

(3,) (2,)

In [174]:
from sklearn.linear_model import LinearRegression
regr= LinearRegression()

In [175]:
regr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [176]:
regr.predict(X_test)

array([720250., 605125.])

In [177]:
Y_test

4    760000
1    565000
Name: Prices, dtype: int64

In [178]:
regr.score(X_test,Y_test)

0.8322115384615385

In [189]:
x=regr.predict([[3000,3,40]])

In [190]:
from sklearn.externals import joblib

In [195]:
joblib.dump(regr, 'house_valuerrr')

['house_valuerrr']

In [196]:
app = joblib.load('house_valuerrr')

In [199]:
app.predict([[3000,3,40]])

array([502000.])

In [200]:
app.intercept_

408249.9999999999

In [222]:
x = int(app.predict([[3000,3,40]]))
x

502000

In [224]:
y = str(x)
print("The house price is valued at "+"$"+y )

The house price is valued at $502000